# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
[Dd]esktop.ini
desktop.ini
[Tt]humbs.db
thumbs.db
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Temporary, scratch and notes text files
*.tmp
*.temp
*.bak
scratch/
notes.txt
todo.txt
temp.txt
scratch.txt
draft.txt
*.notes.txt
*.temp.txt
*.scratch.txt

# Playwright
playwright-report/
blob-report/
test-results/
reports/
playwright/.cache/
tests/
playwright.config.ts
.github/workflows/playwright.yml

# Static HTML build / standalone folder
static/

